
nav{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-color: transparent;  
    position: sticky;
    top: 0;
    z-index: 1011000;
    list-style: none;
    box-sizing: border-box;
    width: 100%;
   
}
header{
    display: flow-root;
    justify-content: space-between;  
    transition: .5s;
    padding: 20px 0;
}
.logo{
    color: orange;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    float: left;
}
.logo:hover{
color:white;
text-decoration: none;
text-shadow: 0 0 5px white;
}
nav .lista{
    float: left;
   padding-inline-start: 0;
}
nav .lista li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin-top: 5px;
    letter-spacing: 1.5px;
}


nav .lista li a{
    color: orange;
    font-size: 17px;
    font-family: 'Cinzel', serif;
    text-decoration: none;

}
nav .lista2{
    float: right;
    margin-right: 100px;
    text-decoration: none;
    padding-inline-start: 0;
}
nav .lista2 li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin-top: 5px;
    letter-spacing: 1.5px;

}
nav .lista2 li a{
    color: orange;
    font-size: 17px;
    font-family: 'Cinzel', serif;

}
.checkbtn{
    font-size: 30px;
    color: orange;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none ;
}
#check{
    display: none ;
}

/*Lista 1*/
.lista li a span{
    position: relative;
  }
  
.lista li a span::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: orange;
    color: white;
    z-index: 2;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform .5s, color .5s;
    margin-top: 40px;
    box-shadow: 0 0 5px white;
  
}


  .lista li a span:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 5px white;
  }
  
  .lista li a span:hover::before {
    
    transform: scale(1, 0.1);
  }
/*Lista 2*/
.lista2 li a span{
    position: relative;
  }
  
.lista2 li a span::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: orange;
    color: white;
    z-index: 2;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform .5s, color .5s;
    margin-top: 40px;
    box-shadow: 0 0 5px white;
  
}
.lista2 li a {
    text-decoration: none;
}
.lista2 li a span:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 5px white;
  }
  
  .lista2 li a span:hover::before {
    transform: scale(1, 0.1);
    
  }


header.sticky{
    padding: 0 100px;
    background: #fff;
    transition: .7s;
    opacity: .9;
    border-bottom: 1px solid #ccc;
}
@media(max-width:1372px){
    header.sticky{
        opacity: 1;
    }
}
header.sticky .logo,
header.sticky .lista li a,
header.sticky .lista2 li a {
    color: #000;
}
.sticky .lista2 li a span:hover{
    color: black;
    text-shadow: 0 0 5px black;
}

.sticky .lista li a span:hover{
    color: black;
    text-shadow: 0 0 5px black;
}

.sticky .checkbtn{
    color: black;
}
nav .lista .uli{
    margin-left: 50px;
}
@media(max-width: 952px){

 .logo{
     font-size: 30px;
     padding-left: 50px;
 }
 nav .lista li a{
     font-size: 16px;
 }
}
@media(max-width: 1366px){
    .checkbtn{
        display: block !important;
    }
    .lista{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 120px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        padding: 0;
    }
    nav .lista .uli{
        margin-left: 0px;
    }
    .lista2{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 405px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        padding: 0;
    }
    nav .lista li,
    nav .lista2 li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        
        
    }
    nav .lista li a,
    nav .lista2 li a{
        font-size: 20px;
        
    } 
  
  
    #check:checked ~ .lista,
    #check:checked ~ .lista2{
        left: 0;
    }
    header.sticky{
        padding: 0px;
    }
}

@media(max-width: 325px){
  .logo{
        padding-right: 0;
    }
  .navigation{
      margin-bottom: 0;
  }
}